Jakefile

jest.config.js

tsconfig.json
tsconfig.tsbuildinfo

*.tgz

lib/**/*.ts
lib/**/*.tsx
!lib/**/*.d.ts

lib/**/*.test.ts
lib/**/*.test.tsx
lib/**/*.test.js
lib/**/*.test.js.map
lib/**/*.test.d.ts
